form {
  width: 350px;
}

label {
  display: block;
}

form input:not([type="checkbox"]) {
  display: inline;
  width: 100%;
}

.eye-logo {
  display: inline;
  width: fit-content;
  position: absolute;
  transform: translateY(5px);
}

.eye-logo img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
